* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: "Epilogue", sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: hsl(0, 0%, 98%);
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	height: 100px;
	margin-left: 40px;
}
nav .menu {
	display: flex;
	list-style: none;
	margin-right: auto;
	align-content: center;
	justify-content: space-evenly;
	margin-top: -4px;
}
.menu li,
.menu a {
	margin-left: 30px;
	text-decoration: none;
	color: hsl(0, 0%, 41%);
}
.fa-angle-down {
	font-size: 10px;
}
nav .loginform {
	position: absolute;
	right: 0;
	display: flex;
	margin-top: -4px;
}
.loginform li,
.loginform a {
	color: hsl(0, 0%, 41%);
	text-decoration: none;
	list-style: none;
	margin-right: 30px;
	cursor: pointer;
}
.loginform li:nth-child(1) {
	padding-top: 12px;
}
.loginform li:nth-child(2) {
	border: 2px solid hsl(0, 0%, 41%);
	height: 5px;
	margin-left: -42px;
	padding-left: -10px;
	padding-top: 7px;
	padding-bottom: 28px;
	border-radius: 10px;
}
.loginform li:nth-child(2):active {
	border: 3px solid hsl(0, 0%, 8%);
	height: 25px;
	margin-left: -10px;
	padding-left: 32px;
	padding-top: 10px;
	padding-bottom: 28px;
	border-radius: 10px;
}
.loginform a:nth-child(1) {
	color: hsl(0, 0%, 8%);
}

.container {
	width: 100%;
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dropdown {
	position: absolute;
	overflow: hidden;
	top: -20px;
	border-radius: 2px;
	transition: all 0.5s;
	transform: translateY(100px);
	display: none;
}
.seconddrop {
	position: absolute;
	overflow: hidden;
	top: -20px;
	border-radius: 2px;
	transition: all 0.5s;
	transform: translateY(100px);
	display: none;
}
.seconddrop li {
	list-style: none;
	margin-top: 17px;
	text-align: left;
	margin-left: -11px;
}
.seconddrop.active {
	display: block;
}
.seconddrop.company {
	text-align: center;
	background-color: hsl(0, 0%, 100%);
	box-shadow: 8px 8px 46px -15px rgba(0, 0, 0, 1);
	border-radius: 10px;
	width: 107px;
	height: 115px;
}
.seconddrop a {
	margin-left: 30px;
	padding-top: 2px;
}
.dropdown li {
	list-style: none;
	margin-top: 17px;
	text-align: left;
	margin-left: 20px;
}
.dropdown.active {
	display: block;
}
.dropdown.features {
	text-align: center;
	background-color: hsl(0, 0%, 100%);
	box-shadow: 8px 8px 46px -15px rgba(0, 0, 0, 1);
	border-radius: 10px;
	width: 150px;
	height: 160px;
}
.dropdown a {
	margin-left: 30px;
	padding-top: 2px;
}
.leftcontent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
	width: 50vh;
	height: 45vh;
	flex: 2.5;
}
.rightside {
	flex: 1.5;
	height: 75vh;
	background-image: url(images/image-hero-desktop.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.leftcontent h1 {
	font-weight: 700;
	font-size: 80px;
	margin-left: 87px;
}
.leftcontent p {
	color: hsl(0, 0%, 41%);
	font-weight: 500;
	font-size: 18px;
	margin-top: 30px;
	word-spacing: 3px;
}
.btn {
	background-color: hsl(0, 0%, 8%);
	color: hsl(0, 0%, 98%);
	width: 120px;
	height: 40px;
	border-radius: 10px;
	font-weight: 500;
	font-size: 17px;
	margin-top: 30px;
	margin-right: 320px;
	cursor: pointer;
}
.btn:active {
	background-color: hsl(0, 0%, 98%);
	color: hsl(0, 0%, 8%);
	font-weight: 500;
	font-size: 17px;
}
.clients {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80vh;
	height: 10vh;
	margin-left: 100px;
}
.clients img {
	margin-top: 300px;
	margin-right: 50px;
}
.todo {
	display: flex;
	align-items: center;
	background-image: url(images/icon-todo.svg);
	background-repeat: no-repeat;
}
.calendaricon {
	display: flex;
	align-items: center;
	background-image: url(images/icon-calendar.svg);
	background-repeat: no-repeat;
}
.remindersicon {
	display: flex;
	align-items: center;
	background-image: url(images/icon-reminders.svg);
	background-repeat: no-repeat;
}
.planningicon {
	display: flex;
	align-items: center;
	background-image: url(images/icon-planning.svg);
	background-repeat: no-repeat;
}
footer {
	position: absolute;
	bottom: 0;
}
.closeham {
	display: none;
}
.hamburger {
	display: none;
}
@media screen and (max-width: 700px) {
	nav .menu {
		display: flex;
		position: absolute;
		list-style: none;
		margin-right: auto;
		align-content: center;
		justify-content: center;
		margin-top: 30rem;
		flex-direction: column;
		width: 30vh;
		min-height: 100vh;
		right: -999px;
		background-color: white;
	}
	.hamburger {
		display: flex;
		margin-left: 150px;
	}
	nav {
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
		height: 100px;
		margin-left: 40px;
	}
	.closeham {
		display: block;
		z-index: 1;
		margin-right: 30px;
	}
	.close {
		width: 30px;
		display: none;
	}
	.rightside {
		flex: 2;
		height: 75vh;
		background-image: url(images/image-hero-mobile.png);
		background-repeat: no-repeat;
		background-size: contain;
	}
	.container {
		width: 100%;
		height: 80vh;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column-reverse;
	}
	.container br {
		display: none;
	}
	.rightside {
		flex: 2;
		width: 100%;
		height: 67vh;
		background-image: url(images/image-hero-mobile.png);
		background-repeat: no-repeat;
		background-size: cover;
	}
	.leftcontent {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		text-align: left;
		width: 39vh;
		height: 35vh;
		flex: 1;
	}
	.leftcontent h1 {
		font-weight: 700;
		font-size: 25px;
		padding-right: 1px;
		margin-left: -5px;
		margin-top: 22px;
	}
	.leftcontent p {
		color: hsl(0, 0%, 41%);
		font-weight: 500;
		font-size: 14px;
		margin-top: 30px;
		word-spacing: 3px;
		text-align: center;
		margin-top: 4px;
	}
	.btn {
		background-color: hsl(0, 0%, 8%);
		color: hsl(0, 0%, 98%);
		width: 120px;
		height: 40px;
		border-radius: 10px;
		font-weight: 500;
		font-size: 17px;
		margin-top: 23px;
		margin-right: 0px;
		cursor: pointer;
	}
	.clients img {
		margin-top: 88px;
		margin-right: 4px;
		width: 80px;
	}
	.clients {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 13vh;
		height: 10vh;
		margin-left: 22px;
		margin-top: -30px;
	}
	footer {
		display: none;
	}
	nav .loginform {
		display: flex;
		flex-direction: column;
	}
	.menu li,
	.menu a {
		margin-left: 21px;
		margin-right: 20px;
		text-decoration: none;
		color: rgb(105, 105, 105);
	}
	.mob {
		margin-top: 50px;
	}
	.dropdown {
		top: -100px;
		display: none;
		position: relative;
	}
	.dropdown.features {
		text-align: center;
		background-color: hsl(0, 0%, 100%);
		box-shadow: none;
		margin-left: 30px;
		border-radius: 10px;
		width: 170px;
		height: 160px;
	}
	.seconddrop {
		top: -100px;
		display: none;
		position: relative;
	}
	.seconddrop.company {
		text-align: center;
		background-color: hsl(0, 0%, 100%);
		box-shadow: none;
		border-radius: 10px;
		margin-left: 30px;
		width: 170px;
		height: 115px;
	}
	nav .loginform {
		margin-top: 30rem;
		display: flex;
		flex-direction: column;
		width: 214px;
		height: 56px;
	}
	.loginform li:nth-child(1) {
		display: flex;
		justify-content: center;
		margin-left: 38px;
		margin-bottom: 30px;
	}
	.loginform li:nth-child(2) {
		height: 14px;
		margin-left: 50px;
		width: 122px;
		display: flex;
		justify-content: center;
	}
	.login {
		display: flex;
		justify-content: center;
		margin-top: 50px;
	}
	.register {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 25px;
		border-radius: 10px;
		height: 40px;
		border: 2px solid hsl(0, 0%, 41%);
	}
}

@keyframes menu {
	0% {
		right: -999px;
	}
	50% {
		right: 0;
		opacity: 10px;
	}
}
