* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: "Epilogue", sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	height: 100px;
	margin-left: 40px;
}
nav .menu {
	display: flex;
	list-style: none;
	margin-right: auto;
	align-content: center;
	justify-content: space-evenly;
	margin-top: -4px;
}
.menu li,
.menu a {
	margin-left: 30px;
	text-decoration: none;
	color: hsl(0, 0%, 41%);
}
.fa-angle-down {
	font-size: 10px;
}
nav .loginform {
	display: flex;
	margin-top: -4px;
}
.loginform li,
.loginform a {
	color: hsl(0, 0%, 41%);
	text-decoration: none;
	list-style: none;
	margin-right: 30px;
}
.container {
	width: 100%;
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dropdown {
	opacity: 0;
	position: absolute;
	overflow: hidden;
	padding: 20px;
	top: -20px;
	border-radius: 2px;
	transition: all 0.5s;
	transform: translateY(100px);
	will-change: opacity;
	display: none;
}

.leftcontent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
	width: 50vh;
	height: 45vh;
	flex: 2.5;
}
.rightside {
	flex: 1.5;
	height: 75vh;
	background-image: url(images/image-hero-desktop.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.leftcontent h1 {
	font-weight: 700;
	font-size: 80px;
	margin-left: 87px;
}
.leftcontent p {
	color: hsl(0, 0%, 41%);
	font-weight: 500;
	font-size: 18px;
	margin-top: 30px;
	word-spacing: 3px;
}
.btn {
	background-color: hsl(0, 0%, 8%);
	color: hsl(0, 0%, 98%);
	width: 120px;
	height: 40px;
	border-radius: 10px;
	font-weight: 500;
	font-size: 17px;
	margin-top: 30px;
	margin-right: 320px;
	cursor: pointer;
}
.btn:active {
	background-color: hsl(0, 0%, 98%);
	color: hsl(0, 0%, 8%);
	font-weight: 500;
	font-size: 17px;
}
.clients {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80vh;
	height: 10vh;
	margin-left: 100px;
}
.clients img {
	margin-top: 300px;
	margin-right: 50px;
}
footer {
	position: absolute;
	bottom: 0;
}
