* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: "Epilogue", sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: hsl(0, 0%, 98%);
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	height: 100px;
	margin-left: 40px;
}
nav .menu {
	display: flex;
	list-style: none;
	margin-right: auto;
	align-content: center;
	justify-content: space-evenly;
	margin-top: -4px;
}
.menu li,
.menu a {
	margin-left: 30px;
	text-decoration: none;
	color: hsl(0, 0%, 41%);
}
.fa-angle-down {
	font-size: 10px;
}
nav .loginform {
	display: flex;
	margin-top: -4px;
}
.loginform li,
.loginform a {
	color: hsl(0, 0%, 41%);
	text-decoration: none;
	list-style: none;
	margin-right: 30px;
	cursor: pointer;
}
.loginform li:nth-child(1) {
	padding-top: 12px;
}
.loginform li:nth-child(2) {
	border: 2px solid hsl(0, 0%, 41%);
	height: 25px;
	margin-left: -10px;
	padding-left: 32px;
	padding-top: 10px;
	padding-bottom: 28px;
	border-radius: 10px;
}
.loginform li:nth-child(2):active {
	border: 3px solid hsl(0, 0%, 8%);
	height: 25px;
	margin-left: -10px;
	padding-left: 32px;
	padding-top: 10px;
	padding-bottom: 28px;
	border-radius: 10px;
}
.loginform a:nth-child(1) {
	color: hsl(0, 0%, 8%);
}

.container {
	width: 100%;
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dropdown {
	position: absolute;
	overflow: hidden;
	top: -20px;
	border-radius: 2px;
	transition: all 0.5s;
	transform: translateY(100px);
	display: none;
}
.seconddrop {
	position: absolute;
	overflow: hidden;
	top: -20px;
	border-radius: 2px;
	transition: all 0.5s;
	transform: translateY(100px);
	display: none;
}
.seconddrop li {
	list-style: none;
	margin-top: 17px;
	text-align: left;
	margin-left: -11px;
}
.seconddrop.active {
	display: block;
}
.seconddrop.company {
	text-align: center;
	background-color: hsl(0, 0%, 100%);
	box-shadow: 8px 8px 46px -15px rgba(0, 0, 0, 1);
	border-radius: 10px;
	width: 107px;
	height: 115px;
}
.seconddrop a {
	margin-left: 30px;
	padding-top: 2px;
}
.dropdown li {
	list-style: none;
	margin-top: 17px;
	text-align: left;
	margin-left: 20px;
}
.dropdown.active {
	display: block;
}
.dropdown.features {
	text-align: center;
	background-color: hsl(0, 0%, 100%);
	box-shadow: 8px 8px 46px -15px rgba(0, 0, 0, 1);
	border-radius: 10px;
	width: 150px;
	height: 160px;
}
.dropdown a {
	margin-left: 30px;
	padding-top: 2px;
}
.leftcontent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	text-align: left;
	width: 50vh;
	height: 45vh;
	flex: 2.5;
}
.rightside {
	flex: 1.5;
	height: 75vh;
	background-image: url(images/image-hero-desktop.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.leftcontent h1 {
	font-weight: 700;
	font-size: 80px;
	margin-left: 87px;
}
.leftcontent p {
	color: hsl(0, 0%, 41%);
	font-weight: 500;
	font-size: 18px;
	margin-top: 30px;
	word-spacing: 3px;
}
.btn {
	background-color: hsl(0, 0%, 8%);
	color: hsl(0, 0%, 98%);
	width: 120px;
	height: 40px;
	border-radius: 10px;
	font-weight: 500;
	font-size: 17px;
	margin-top: 30px;
	margin-right: 320px;
	cursor: pointer;
}
.btn:active {
	background-color: hsl(0, 0%, 98%);
	color: hsl(0, 0%, 8%);
	font-weight: 500;
	font-size: 17px;
}
.clients {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80vh;
	height: 10vh;
	margin-left: 100px;
}
.clients img {
	margin-top: 300px;
	margin-right: 50px;
}
.todo {
	display: flex;
	align-items: center;
	background-image: url(images/icon-todo.svg);
	background-repeat: no-repeat;
}
.calendaricon {
	display: flex;
	align-items: center;
	background-image: url(images/icon-calendar.svg);
	background-repeat: no-repeat;
}
.remindersicon {
	display: flex;
	align-items: center;
	background-image: url(images/icon-reminders.svg);
	background-repeat: no-repeat;
}
.planningicon {
	display: flex;
	align-items: center;
	background-image: url(images/icon-planning.svg);
	background-repeat: no-repeat;
}
footer {
	position: absolute;
	bottom: 0;
}
